.navbar {
  background-color: #212121;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-family: Arial, sans-serif;
  
  /* Make it fixed at the top */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays above other elements */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: #FFFFFF;
  margin-right: 40px;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.quote-btn {
  background-color: #FFFFFF;
  color: #212121;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.quote-icon {
  margin-left: 8px;
}
